In [8]:
import pandas as pd
pd.set_option("display.max_rows",500)

In [3]:
data = pd.read_csv("../data.csv")
data.head()

,data,url
0,Employability quotient The key focus of the CG...,http://mgmits.ac.in/placement/career-guidance-...
1,"For 2021 passing out batch, 326 offers as on J...",http://mgmits.ac.in/placement/placement-gallery/
2,"A premier engineering college in the state, lo...",http://mgmits.ac.in/home
3,PLACEMENT STATISTICS Batch of 2022 Batch of 20...,http://mgmits.ac.in/placement/placement-statis...
4,Individual Development Plan (IDP) Thepurpose o...,http://mgmits.ac.in/idp-2/

In [5]:
data["len"] = data.data.map(lambda x : len(x))
data.head()

,data,url,len
0,Employability quotient The key focus of the CG...,http://mgmits.ac.in/placement/career-guidance-...,1752
1,"For 2021 passing out batch, 326 offers as on J...",http://mgmits.ac.in/placement/placement-gallery/,95
2,"A premier engineering college in the state, lo...",http://mgmits.ac.in/home,4861
3,PLACEMENT STATISTICS Batch of 2022 Batch of 20...,http://mgmits.ac.in/placement/placement-statis...,83
4,Individual Development Plan (IDP) Thepurpose o...,http://mgmits.ac.in/idp-2/,701

In [16]:
data.iloc[11]

data         Our major recruiters
url     http://mgmits.ac.in/nisp/
len                            20
Name: 11, dtype: object

In [11]:
data.len.sort_values(ascending=True)

72       20
71       20
11       20
51       20
62       20
73       20
75       20
74       20
34       20
14       36
91       39
92       42
57       42
78       42
82       47
44       50
24       55
85       56
3        83
33       86
15       89
61       94
1        95
18      102
48      107
19      114
45      160
55      189
63      203
70      210
17      220
21      220
65      226
58      238
52      284
13      292
88      377
67      391
20      438
43      445
81      447
35      558
60      562
16      597
89      609
66      623
25      689
56      694
4       701
79      810
27      849
23      867
80      890
22      941
76      946
46     1139
83     1173
77     1194
95     1212
90     1214
87     1219
38     1258
59     1370
84     1403
32     1515
69     1569
64     1608
54     1711
0      1752
36     1790
30     1880
50     2036
94     2202
26     2252
86     2609
39     2857
93     3282
28     3288
5      3557
53     4140
37     4213
2      4861
6      4954
41     5187
68     5286
10     6162
29     6166
40     6201
42     6376
7      6406
9      9595
12    10744
8     19086
49    21128
31    39872
47    59512
Name: len, dtype: int64