In [16]:
import pandas as pd
import os
pd.set_option("display.max_rows",300)

In [3]:
data = pd.read_csv("data.csv")
data.head()

,data,url
0,"A premier engineering college in the state, lo...",http://mgmits.ac.in/home
1,DEPARTMENT OF Basic Science and Humanities Dep...,http://mgmits.ac.in/departments/basic-science-...
2,PLACEMENT STATISTICS Batch of 2021 Batch of 20...,http://mgmits.ac.in/placement/placement-statis...
3,DEPARTMENT OF Mechanical Engineering Departmen...,http://mgmits.ac.in/departments/mechanical-eng...
4,DEPARTMENT OF Electrical and Electronics Depar...,http://mgmits.ac.in/departments/electrical-and...

In [5]:
data["len"] = data.data.map(lambda x : len(x))

In [25]:
data.iloc[10].url

'http://mgmits.ac.in/mits/quality-policy/nbanaac/'

In [17]:
data.len.sort_values(ascending=True)

79       20
52       20
63       20
72       20
38       20
13       20
82       20
9        20
10       20
11       36
93       39
76       42
47       42
91       42
77       47
44       50
24       55
86       56
2        69
30       86
16       89
61       94
69       95
18      102
50      107
15      114
43      160
56      189
62      203
73      210
19      220
22      220
64      226
53      238
51      284
12      292
88      377
67      391
17      438
36      445
81      447
34      558
58      562
14      597
89      609
65      623
25      689
54      694
71      701
78      810
27      849
20      867
80      890
21      941
75      946
42     1139
85     1173
74     1194
95     1212
90     1214
84     1219
33     1258
59     1370
87     1403
31     1515
68     1569
60     1608
57     1711
70     1752
37     1790
28     1880
48     2036
92     2202
23     2252
83     2609
40     2857
94     3282
29     3288
6      3557
55     4140
35     4213
0      4861
1      4954
41     5187
66     5286
8      6162
26     6166
39     6201
45     6376
3      6406
4      9595
7     10744
5     19086
46    21128
32    39872
49    59512
Name: len, dtype: int64